<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<appSettings>
		<add key="Use-Encrypted-Psswords" value="true"/>

		<!-- certificate have to be in certification store local machine -->
		<add key="Encryption-Certificate-Identifier" value="[Encryption-Certificate-Serial-Number]" />

		<add key="Backup-Path" value="C:\UnifiBackup" />
		<add key="Mongo-Connection-String" value="mongodb://127.0.0.1:27117" />

		<!-- Everytim turn off pooling by `Pooling=false;` -->
		<add key="Sql-Connection-String" value="Server=[Server];Database=Ubiquiti-Unifi-Backup;Pooling=false;" />
		<add key="Sql-User-Id" value="" />

		<!-- password encrypted by certificate -->
		<add key="Sql-User-Password" value="[Encrypted-Password]" />

		<!-- have to be greater than 0-->
		<add key="Sql-Batch-Size" value="100"/>

		<add key="Export-To-FS" value="true" />
		<add key="Export-To-DB" value="true" />

		<!-- 
			use ssl tunel when you want extract data from cloud key 
			in case you want to extract data from windows based controller set 'Use-SSH-Tunel' to 'False'
		-->
		<add key="Use-SSH-Tunel" value="true" />
		<add key="SSH-Tunel-Host" value="[Cloud-Key-Ip-Or-FQDN]" />
		<add key="SSH-Tunel-UserName" value="[Cloud-Key-Admin]" />

		<!-- password encrypted by certificate -->
		<add key="SSH-Tunel-Password" value="[Encrypted-Password]" />
		<add key="SSH-Forward-Host-From" value="127.0.0.1" />
		<add key="SSH-Forward-Port-From" value="27117" />
		<add key="SSH-Forward-Host-To" value="127.0.0.1" />
		<add key="SSH-Forward-Port-To" value="27117" />

		<!-- 
		      add tables separated by ';' 
			  eg.: table1;table2;table3
		-->
		<add key="Blacklisted-Table-Names" value=""/>

	</appSettings>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.2.0" newVersion="4.0.2.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
