<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
	<appSettings>
		<add key="Use-Encrypted-Psswords" value="__|Use-Encrypted-Psswords-Token|__" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>

		<!-- certificate have to be in certification store local machine -->
		<add key="Encryption-Certificate-Identifier" value="__|Encryption-Certificate-Identifier-Token|__" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />

		<add key="Backup-Path" value="__|Backup-Path-Token|__" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
		<add key="Mongo-Connection-String" value="__|Mongo-Connection-String-Token|__" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />

		<add key="Sql-Connection-String" value="__|Sql-Connection-String-Token|__" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
		<add key="Sql-User-Id" value="__|Sql-User-Id-Token|__" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
		
		<!-- password encrypted by certificate -->
		<add key="Sql-User-Password" value="__|Sql-User-Password-Token|__" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />

		<!-- have to be greater than 0-->
		<add key="Sql-Batch-Size" value="__|Sql-Batch-Size-Token|__" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>

		<add key="Export-To-FS" value="__|Export-To-FS-Token|__" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
		<add key="Export-To-DB" value="__|Export-To-DB-Token|__" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />

		<!-- 
			use ssl tunel when you want extract data from cloud key 
			in case you want to extract data from windows based controller set 'Use-SSH-Tunel' to 'False'
		-->
		<add key="Use-SSH-Tunel" value="__|Use-SSH-Tunel-Token|__" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
		<add key="SSH-Tunel-Host" value="__|SSH-Tunel-Host-Token|__" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
		<add key="SSH-Tunel-UserName" value="__|SSH-Tunel-UserName-Token|__" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />

		<!-- password encrypted by certificate -->
		<add key="SSH-Tunel-Password" value="__|SSH-Tunel-Password-Token|__" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
		<add key="SSH-Forward-Host-From" value="__|SSH-Forward-Host-From-Token|__" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
		<add key="SSH-Forward-Port-From" value="__|SSH-Forward-Port-From-Token|__" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
		<add key="SSH-Forward-Host-To" value="__|SSH-Forward-Host-To-Token|__" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
		<add key="SSH-Forward-Port-To" value="__|SSH-Forward-Port-To-Token|__" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
	</appSettings>
</configuration>